@charset "ISO-8859-1";

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #a1c4fd, #c2e9fb);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    text-align: center;
    color: #073b4c;
    margin-bottom: 25px;
    font-size: 26px;
}

.login-container {
    background-color: #ffffff;
    padding-bottom:10px;
    padding: 35px 40px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    width: 350px;
    transition: transform 0.3s ease;
    
}

.login-container:hover {
    transform: scale(1.02);
}

label {
    display: block;
    margin-top: 15px;
    color: #102a43;
    font-weight: 600;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
    box-sizing: border-box;
    transition: border 0.3s, box-shadow 0.3s;
}

input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #0077b6;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 119, 182, 0.5);
}

input[type="submit"] {
    width: 100%;
    margin-top: 25px;
    padding: 12px;
    background: linear-gradient(to right, #00b4d8, #0077b6);
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}

input[type="submit"]:hover {
    background: linear-gradient(to right, #0077b6, #023e8a);
}

.anchor-container {
    display: flex;
    justify-content: flex-end;
}

a {
    text-decoration: none;
    padding: 10px;
    margin-top: 15px;
    color: #0077b6;
    font-weight: 500;
}

a:hover {
    text-decoration: underline;
}

.error {
    color: red;
    font-weight: bold;
    margin-top: 10px;
    display: block;
}
